
      .fclass {
        display: flex;
      }
      .formp {
        display: flex;
        flex-direction: column;
        margin-right: 40px;
      }

      .ptag {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 22px;
      }

      .image {
        width: 400px;
        height: 300px;
      }

      
      
      